h1
{
margin:30px 0px 40px 70px;
color: #959FB2;
}
p
{
margin:0px 120px 10px 70px;
}

h3
{
margin:10px 0px 20px 70px;
color: #959FB2;
}
h2
{
margin:30px 0px 20px 70px;
}
h4
{
margin:30px 0px 20px 70px;
}
#incontent li
{
margin:5px 200px 5px 70px;
}
strong
{
margin:30px 0px 20px 0px;
}

