<h1>Información al Cliente</h1>

<h2>Ventajas</h2>
<p>
Disfruta las ventajas bestiaz, más que tú tienda on-line:
</p>
<p>
<ul>
<li>
<strong>Disponibilidad y comodidad.</strong> Compra cuando quieras, sin horarios, sin prisas, sin colas, sin desplazamientos, desde casa o desde el trabajo,
</li>
<li>
<strong>Rapidez.</strong> Confirma tus pedidos al instante y disfrútalos en casa.
</li>
<li>
<strong>Seguridad.</strong> Compra con total tranquilidad. Todos los datos personales que introduzcas a través de www.bestiaz.com viajarán encriptados a través de la red. Nuestros sistemas de pago on-line se realizan a través de pasarelas de pago que garantizan en todos los aspectos la seguridad de tu transacción ya que quién solicita el número de tarjeta es el propio banco a través de su propia aplicación ubicada en servidores seguros que impiden la captación de tus datos por terceros.
</li>
<li>
<strong>Atención personalizada.</strong> No dudes en contactar con nosotros en info.bestiaz@gmail.com. No tardaremos en responderte.
</li>
<li>
<strong>Información.</strong> Conoce todos los detalles acerca de las características del producto. 
</li>
</ul>
</p>

<p>
En Bestiaz, el mejor material deportivo a los mejores precios.
</p>

<h2>Precios</h2>
<p>
Bestiaz se reserva el derecho de hacer modificaciones sobre productos, precios, promociones y otras condiciones comerciales y de servicio en cualquier momento. Todos los precios de los productos expuestos en la web incluyen el IVA. En caso que un cliente tome una decisión de compra basada en un error tipográfico o ajeno a nuestra voluntad procederemos a comunicarle dicho error y a anular dicho pedido.
</p>
<h2>Formas de Pago</h2>
<p>
Puede usted formalizar el pago de tres formas:
</p>
<h4><strong>Transferencia bancaria</strong></h4>

<p>
Deberá realizar una transferencia bancaria a nuestra cuenta por importe del precio de los productos del pedido más los gastos de envío (la suma total aparecerá en su pantalla antes de confirmar su pedido). En la transferencia deberá indicar:
</p>

<p>
el nombre de la persona o entidad a la cual se facturará el pedido y el número de dicho pedido (el número lo asigna automáticamente el sistema al concluir la realización del pedido).
</p>

<p>
La transferencia deberá efectuarse en un plazo máximo de siete días desde la realización del pedido a la siguiente cuenta:
<ul>
<li>Entidad: xxxxxx</li>
<li>Nº de cuenta: xxxxxxxxxxxxxxxxx </li>
</ul>
</p>

<p>
Si realiza la transferencia desde fuera de España:
<ul>
<li>Nombre de la compañía: xxxxxx</li>
<li>Nombre del banco: xxxxxxxxxx</li>
<li>Ciudad donde está el banco: xxxxxxxxxxx</li>
<li>Número Swift: xxxxxxxxxxxx</li>
<li>Número IBAN: xxxxxxxxxxxxxxx</li>
</ul>
</p>

<p>
<ul>
<li>
El pedido no se enviará hasta que el dinero físico llegue a nuestra entidad bancaria. Esto supone un retardo en el envió de entre 48 a 72 horas más dependiendo del banco emisor.
</li>
<li>
Los gastos ocasionados por la transferencia bancaria correrán a cargo del cliente.
</li>
<li>
Deberá efectuar un ingreso por el valor de los productos seleccionados además de los gastos de envío tal como se calcula al finalizar el pedido.
</li>
</ul>
</p>

<h4><strong>PayPal </strong></h4>

<p>
PayPal es una empresa estadounidense perteneciente al sector del comercio electronico por Internet que permite la transferencia de dinero entre usuarios que tengan correo electrónico de forma segura, cómoda y rentable, una alternativa al tradicional método en papel como los cheques o giros postales.
</p>

<p>
La red de PayPal se basa en la infraestructura financiera existente de cuentas bancarias y tarjetas de crédito para crear una solución global de pago en tiempo real. Le ofrecemos un servicio especialmente pensado para pequeñas empresas, vendedores por Internet, particulares y otros a los que no satisfacen los mecanismos de pago tradicionales. Mas información y alta en http://www.paypal.es/es
</p>


<h2>Entrega de Pedidos</h2>
<p>
  Los pedidos se envían mediante la empresa de transportes xxxxx a la dirección de entrega indicada al realizar el pedido.
</p>

<p>
  El plazo de entrega será en todos los casos orientativo. Bestiaz se esforzará en enviarselo con la mayor brevedad posible. En el caso de que alguno de los artículos solicitados no estuviera disponible, se le gestionaría su pedido con la máxima brevedad posible. No dude en consultarnos sobre el plazo de entrega aproximado en info.bestiaz@gmail.com .
</p>


<h2>Cancelaciones</h2>
<h4>Pedidos <strong>no enviados</strong></h4>
<p>
Para cancelar un pedido que aún no ha sido enviado debe dirigir un correo electrónico a la dirección bestiaz.info@gmail.es con su solicitud, indicando el número de pedido que desea anular.
</p>
<h4>Pedidos <strong>enviados</strong></h4>
<p>
  Si un pedido ya ha sido enviado y no lo desea, sólo tiene que indicar al transportista que acuda a la dirección de entrega que no quiere el pedido, que desea devolverlo.
</p>
<p>
En ambos casos, si el pedido había sido pagado por adelantado, deberá enviar un e-mail a la dirección info.bestiaz@gmail.com indicando los datos bancarios (número de cuenta y titular de la misma) necesarios para poder realizar el reembolso del dinero, así como el número del pedido que ha rechazado y un teléfono de contacto.
</p>

<h2>Devoluciones</h2>
<p>
<ul>
<li>
Es obligación del cliente verificar los equipos al recibirlos y si observa alguna anomalía o discordancia con el pedido original, dispone de 7 días para notificarnos vía e-mail (info.bestiaz@gmail.com) cualquier tipo de anomalía o intención de devolución, siempre que las causas sean justificadas.
</li>
<li>
En ese caso podrá efectuar la devolución del producto para la compensación del importe o el cambio del producto. Tenga en cuenta que los gastos de envió ocasionados por devolución irán a cargo del cliente.
</li>
</ul>
</p>
<p>
Para más información no dude en ponerse en contacto con nosotros a traves del formulario de la tienda "contactenos" o bien en la siguiente dirección de correo electrónico: info.bestiaz@gmail.com
</p>

<h2>Garantías</h2>
<p>
Todos los productos están garantizados a partir de la fecha de la factura o albarán contra todo defecto material o de fabricación por el tiempo estipulado por el fabricante, respondiendo los fabricantes e importadores tal y como establece la Ley 22/94, por la que se regula la responsabilidad civil por los daños causados por productos defectuosos.
</p>
