<h1>AVISO / DISCLAIMER </h1>
</br>
</br>
</br>
</br>
</br>
</br>
<p><b>Esto es una demo de la futura tienda on-line de material deportivo www.bestiaz.com Todo contenido es provisional. Actualmente NO procesamos pedidos</b> </p>
<p><b> Fecha prevista de apertura: Marzo 2011 Hasta pronto!</b> </p>
</br>
</br>
</br>
<p><b>This is a demo version of the future shop www.bestiaz.com All contents are temporary and for the shake of testing only. No orders currently accepted</b> <p>
<p><b> Planned opening date: March 2011 Come back soon!</b> </p>
<p>                              <p>
<p>                              <p>
<p>                              <p>
<p>                              <p>
<p>                              <p>
<p>                              <p>
<p>                              <p>
<p>                              <p>
<p>                              <p>
<p>                              <p>
<p>                              <p>
<p>                              <p>
<p>                              <p>
<p>                              <p>
<p>                              <p>
<p>                              <p>
<p>                              <p>
<p>                              <p>
<p>                              <p>
<p>                              <p>
<p>                              <p>
<p>                              <p>
<p>                              <p>
<p>                              <p>
































