<%= stylesheet_link_tag "staticpage" %>
<h1>Aviso Legal</h1>
<p>A continuación se exponen las Condiciones Generales de Acceso y Uso del sitio web <%= link_to "www.bestiaz.com", root_path %></p>

<h3>DATOS INDENTIFICATIVOS</h3>
<p>Bestiaz Retailer S.L. (en adelante, Bestiaz) es la empresa titular de la página web <%= link_to "http://www.bestiaz.com", root_path %></p>
<p>
<div id="incontent">
<ul>
  <li>Nombre: Bestiaz Retailer S.L.</li>
  <li>Domicilio social: Lope de Haro 5 4ºB, 28039 MADRID</li>
  <li>Correo electrónico (e-mail): info@bestiaz.com </li>
  <li>CIF: B-86108917 </li>
</ul>
</div>
</p>
<h3>OBJETO Y ÁMBITO DE APLICACIÓN</h3>
<p>
Las presentes condiciones generales regulan el acceso y uso del sitio web www.bestiaz.com, así como las responsabilidades derivadas de la utilización de sus contenidos, que incluyen, a título enunciativo, imágenes, software o textos; marcas o logotipos, combinaciones de colores, estructura y diseño, programas de ordenador necesarios para su funcionamiento, acceso y uso, etc...
</p>
<p>
    Cualquier persona que acceda y/o utilice el portal de Bestiaz tendrá la condición de Usuario, y aceptará desde dicho acceso y/o uso, las presentes Condiciones Generales, las cuales serán de aplicación independientemente de las Condiciones Generales de Contratación que en su caso resulten de obligado cumplimiento. En consecuencia, el Usuario debe leer atentamente estas condiciones generales.
</p>


<h3>
ACCESO Y USO DE LA PÁGINA
</h3>

<p>
    La página web de Bestiaz proporciona el acceso a contenidos en Internet pertenecientes a Bestiaz o a sus proveedores, contenidos a los que el Usuario puede tener acceso de forma libre. El Usuario asume la responsabilidad del uso del portal y se compromete a hacer un uso adecuado de los contenidos y servicios que Bestiaz ofrece a través de su página web y a no emplearlos para incurrir en actividades ilícitas, ilegales o contrarias a la buena fe y al orden público; provocar daños en los sistemas físicos y lógicos de Bestiaz, de sus proveedores o de terceras personas, introducir o difundir en la red virus informáticos o cualesquiera otros sistemas físicos o lógicos que sean susceptibles de provocar los daños anteriormente mencionados.
</p>

<p>
    Además de este acceso libre, el Usuario puede registrarse como Cliente, proporcionando una serie de datos personales necesarios para poder tener más ventajas y mejor acceso a algunos servicios/ofertas que ofrece Bestiaz. En estos casos, serán de aplicación las disposiciones recogidas en el apartado "Política de Privacidad" de la página web.

</p>
<p>
    Los contenidos de la página web de Bestiaz están dirigidos a usuarios finales. El uso comercial no autorizado de los mismos está prohibido. Bestiaz por sí o como cesionaria, es titular de todos los derechos de propiedad intelectual e industrial de su página web, así como de los contenidos de la misma, titularidad de Bestiaz o bien de sus proveedores.

</p>
<p>
    El Usuario se compromete a respetar los derechos de Propiedad Intelectual e Industrial titularidad de Bestiaz. Podrá visualizar los elementos de la página web e incluso imprimirlos, copiarlos y almacenarlos en el disco duro de su ordenador o en cualquier otro soporte físico siempre y cuando sea, única y exclusivamente, para su uso personal y privado, quedando, por tanto, terminantemente prohibida la transformación, distribución, comunicación pública, puesta a disposición o cualquier otra forma de explotación, así como su modificación, alteración o descompilación. El Usuario deberá abstenerse de suprimir, alterar, eludir o manipular cualquier dispositivo de protección o sistema de seguridad que estuviera instalado en la página web de Bestiaz.

</p>
<p>
    En ningún caso se entenderá que el acceso y uso de la página por parte del Usuario implica la renuncia, transmisión, licencia o cesión total ni parcial de dichos derechos por parte de Bestiaz. Bestiaz podrá utilizar cookies para personalizar y facilitar la navegación del Usuario por su página web. Para todo lo relativo a su uso se estará a lo dispuesto en la sección "Política de Privacidad" de la página web.

</p>

<h3>
MODIFICACIONES EN LA PÁGINA WEB
</h3>

<p>
    Bestiaz se reserva el derecho de efectuar sin previo aviso las modificaciones que considere oportunas en su página web, pudiendo cambiar, suprimir o añadir tanto los contenidos y servicios que se presten a través de la misma como la forma en la que éstos aparezcan presentados o localizados en su página web.

</p>

<h3>
ENLACES
</h3>

<p>
    En el caso de que en la página web se dispusiesen enlaces o hipervínculos hacía otros sitios de Internet, Bestiaz no ejercerá ningún tipo de control sobre dichos sitios y contenidos.
    En ningún caso Bestiaz asumirá responsabilidad alguna por los contenidos de algún enlace perteneciente a un sitio web ajeno, ni garantizará la disponibilidad técnica, calidad, fiabilidad, exactitud, amplitud, veracidad, validez y constitucionalidad de cualquier material o información contenida en ninguno de dichos hipervínculos u otros sitios de Internet. Igualmente la inclusión de estas conexiones externas no implicará ningún tipo de asociación, fusión o participación con las entidades conectadas.

</p>
  
<h3>
GENERALIDADES
</h3>

<p>
    Bestiaz perseguirá el incumplimiento de las presentes condiciones así como cualquier utilización indebida de su página web ejerciendo todas las acciones civiles y penales que le puedan corresponder en derecho.
</p>


<p>
    Bestiaz se reserva el derecho a denegar o retirar el acceso a su página web y/o a los servicios ofrecidos sin necesidad de preaviso, a instancia propia o de un tercero, a aquellos usuarios que incumplan las presentes Condiciones Generales de Acceso y Uso.
</p>

<p>
    Los encabezamientos de las distintas cláusulas son sólo informativos, y no afectarán, calificarán o ampliarán la interpretación de las Condiciones Generales. En caso de existir discrepancia entre lo establecido en estas Condiciones Generales de Acceso y Uso y las Condiciones Generales de Contratación, prevalecerá lo dispuesto en éstas últimas.
</p>

<p>
    En el caso de que cualquier disposición o disposiciones de estas Condiciones Generales de Acceso y Uso fuera(n) considerada(s) nula(s) o inaplicable(s), en su totalidad o en parte, por cualquier Juzgado, Tribunal u órgano administrativo competente, dicha nulidad o inaplicación no afectará al resto de disposiciones de las mismas ni a las Condiciones Generales de Contratación.
</p>

<p>
    El no ejercicio o ejecución por parte de Bestiaz de cualquier derecho o disposición contenida en estas condiciones generales no constituirá una renuncia al mismo, salvo reconocimiento y acuerdo por escrito por su parte.
</p>


<h3>
MODIFICACIÓN DE LAS PRESENTES CONDICIONES Y DURACIÓN
</h3>

<p>
    Bestiaz podrá modificar en cualquier momento las condiciones aquí determinadas, siendo debidamente publicadas como aquí aparecen.
</p>

<p>
    Estas Condiciones Generales estarán vigentes mientras dure su exposición y no sean modificadas total o parcialmente, momento a partir del cual tendrán vigencia las condiciones generales modificadas.
</p>


<h3>
LEGISLACIÓN APLICABLE
</h3>

<p>
    La relación entre Bestiaz y el Usuario se regirá por la normativa española vigente.
</p>

<p>
<h2>
Política de privacidad
</h2>
</p>

<h3>
1. Tratamiento de datos de carácter personal
</h3>
<p>
    La página web de Bestiaz proporciona el acceso a contenidos en Internet a los que el Usuario, con carácter general, puede tener acceso de forma libre.
</p>

<p>
    Además de este acceso libre, para el envío de información y publicidad de los diferentes productos y ofertas que Bestiaz pueda tener en su página web será necesario que el Usuario se registre como Cliente. Las comunicaciones comerciales se realizarán por correo electrónico a la dirección de e-mail facilitada por el Usuario, quien presta su consentimiento expreso para dichos envíos publicitarios a través de correo electrónico.
</p>


<p>
    Bestiaz se compromete a cumplir con el deber de secreto de tales datos, así como a tratarlos con confidencialidad, asumiendo las medidas necesarias para evitar su alteración, pérdida, tratamiento o acceso no autorizado, tal y como se recoge en la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal, y en el Real Decreto 994/1999, de 11 de junio.
</p>
<p>
    Asimismo, Bestiaz se compromete a la no utilización de dichos datos personales para fines distintos del objeto del servicio que presta a través de su página web www.bestiaz.es, página que ofrece información sobre ofertas de productos para su venta directa a través de Internet.
</p>

<p>
    El Usuario responderá, en cualquier caso, de la veracidad, exactitud, autenticidad y vigencia de los datos facilitados, reservándose Bestiaz el derecho a excluir de los servicios registrados a todo Usuario que haya facilitado datos falsos, sin perjuicio de las demás acciones que procedan en Derecho.
</p>

<p>
    Cualquier Usuario registrado puede en cualquier momento ejercer el derecho a acceder, rectificar y, en su caso, cancelar sus datos de carácter personal suministrados, mediante petición escrita por carta dirigida al domicilio social de Bestiaz o mediante correo electrónico a info@bestiaz.com.
</p>


<h3>
2. Cookies
</h3>

<p>
    Bestiaz podrá utilizar cookies, pequeños ficheros de datos que se almacenan en el sistema del Usuario, permiten personalizar y facilitar la navegación del Usuario por la página web, y se asocian a un Usuario anónimo sin que puedan deducirse datos personales del mismo. El Usuario puede impedir la generación de cookies en su ordenador mediante la activación de la opción correspondiente en su navegador. Esta desactivación de cookies no impide el acceso del Usuario a los contenidos de la página web.
</p>

