<%= render "shared/welcome" %>
<% # taxon is a helper from ApplicationHelper, note this depends on how we call the taxon (nav menu)  %>  
<% [ "Atletismo", "Varios", "Nutrición", "Ciclismo", "Natación"] %>
<br/>
<br/>
<h2> Lo mas pedido: échale un vistazo a los productos mas vendidos en nuestra tienda de triatlon </h2>
