<%= image_tag "logos/paypalCheckoutLogo_fer.gif" %>
<br/>
<a href="http://www.facebook.com/pages/Bestiaz/161631907226080" target="_TOP" style="font-family: &quot;lucida grande&quot;,tahoma,verdana,arial,sans-serif; font-size: 11px; font-variant: normal; font-style: normal; font-weight: normal; color: #3B5998; text-decoration: none;" title="Bestiaz">Síguenos en facebook!</a><br/><a href="http://www.facebook.com/pages/Bestiaz/161631907226080" target="_TOP" title="Bestiaz"><img src="http://badge.facebook.com/badge/161631907226080.1305.66289031.png" width="120" height="210" style="border: 0px;" /></a>
<br/>
 <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FBestiaz-Tienda-Online-Deportes%2F161631907226080&amp;layout=button_count&amp;show_faces=true&amp;width=450&amp;action=like&amp;font=arial&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe>
