<p style="font-size: 1.2em">
<%= link_to " Blog" , "http://bestiaz.wordpress.com/" %>
| <%= link_to " Quienes somos" , pages_who_we_are_path %>
| <%= link_to " Condiciones" , pages_conditions_path %>
| <%= link_to "Aviso legal" , pages_legal_advice_path %>
</p>
<p style="margin-top: 10px">
<strong>
Contacto: info@bestiaz.com
</strong>
<!--
<br/>
<strong>
Teléfono: +34 608 237 209
</strong>
-->
</p>


<p style="margin-top: 10px">
  &copy; 2011 Bestiaz Retailer S.L. 
</p>
