<h4>bestiaz.com, la <strong> tienda de triatlón online </strong>, por y para atletas. Material, nutrición, todo para hacerte el triatlón más facil. Si crees que falta algo en la web o tienes alguna duda, mándanos un email a info@bestiaz.com o déjanos un comentario en nuestro <%= link_to "blog" , "http://bestiaz.wordpress.com/" %>  </h4>

<h4>¡Envío Gratis para pedidos superiores a 120€! </h4>

<%= render 'shared/search' %> 
<br/>
