<!--<h3 class="homepager"> bestiaz.com, la tienda online por y para atletas. ¿Crees que falta algo en la web? ¿Tienes alguna duda?  Mándanos un email a info.bestiaz@gmail.com </h3> -->
<h4><strong> bestiaz.com, la tienda online por y para atletas. ¿Crees que falta algo en la web? ¿Tienes alguna duda? No lo dudes, mándanos un email a info@bestiaz.com o déjanos un comentario en nuestro <%= link_to "blog" , "http://bestiaz.wordpress.com/" %> </strong> </h4>
<h4><strong>¡Envío Gratis para pedidos superiores a 120€!</strong> </h4>

<%= render 'shared/search' %> 
<br/>
